@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
}

html {
  font-size: 18px;
  line-height: 1.5;
  scroll-behavior: smooth;
}



@media (max-width: 100%) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 12px;
  }
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mySlides {
  display: none;
  width: 100vW;
  max-height: 100vH;
  padding: 0;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

#logo {
  width: 100%;
  height: 100%;
  position: absolute;
}

#business {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#button2 {
font-size: 15px;
font-family: "Koulen";
background-color: #f8f7d8;
padding: 15px;
text-decoration: none;
z-index: 1006;
margin-bottom: 90px;
transition: 0.5s;
border-radius: 10px;
}

#button {
  font-size: 15px;
  font-family: "Koulen";
  color: black;
  background-color: white;
  padding: 15px;
  text-decoration: none;
  z-index: 1006;
  margin-bottom: 60px;
  transition: 0.5s;
  border-radius: 10px;
}

#button2:hover {
  background-color: #df4426;
}

#button:hover {
  color: white;
  background-color: #202020;
  border-radius: 25px;
  transition: 0.5s;
}

#button:hover, #button2:hover {
  border-radius: 25px;
  transition: 0.5s;
}

#arrowleft, #arrowright, .w3-badge {
  cursor: pointer;
  position: relative;
  z-index: 1002;
}

#container {

  margin: 0;
  padding: 0;

}

#arrowleft, #arrowright {
  padding: 100vH 20px;
  font-size: 10vH;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  position: absolute;
}

.video1 {
  object-fit: fill;
  height: 100%;
}

#arrowleft:hover {
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  transition: 0.5s;
}

#arrowright:hover {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  transition: 0.5s;
}

#hamburger {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transform: scale(0.8);
  z-index: 1005;
}

#hamburger span {
  display: block;
  background-color: #FF9900;
  width: 100%;
  height: 9px;
  position: absolute;
  transition: all 0.2s;

}

#hamburger span:nth-child(1) {
  top: 0;
}

#hamburger span:nth-child(2) {
  top: 18px;
}

#hamburger span:nth-child(3) {
  top: 18px;
}

#hamburger span:nth-child(4) {
  top: 36px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  opacity: 0;
}

#hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 18px;
  opacity: 0;
}

#nav {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#nav.open {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

#headline.open {
  display: none;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 4rem;
  font-family: Koulen;
}

#nav li {
  margin-bottom: 1.2rem;
}

#nav a {
  color: #ff9900;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

#nav a:hover {
  color: #fff;
  transform: scale(1.3);
}
